body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #E8E3DC, #6F6965, #0F0D0C);
  animation: gradient 5s ease infinite;
}

h1 {
text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background-color: #2E2E30;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more-hidden {
  display: none;
  margin: 20px 0;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #ff0000;
}

button:hover {
  background-color: #fff;
  color: #ff0000;
  border: 2px solid #ff0000;
  font-weight:700;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.photo-card {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
  overflow: hidden;
  transition: transform 0.3s;
}

.photo-card:hover {
  transform: scale(1.03);
}

.photo-card img {
  width: 100%;
  height: auto;
}

.info {
  padding: 10px;
}

.info-item {
  margin: 5px 0;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.search-form input[type='text'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 100%;
}

.search-form button {
  padding: 10px 20px;
  background-color: #2E2E30;
  color: white;
  border: 1px solid #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 1500ms;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
}

.search-form input[type='text'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  margin: auto;
}

.btn-search {
  padding: 10px 20px;
  background-color: #2E2E30;
  color: white;
  border: 1px solid #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form input[type='text'],
.btn-search {
  flex: 1;
  text-decoration: none;
}

.search-form button:hover {
  animation: colorchange 1500ms infinite;
  font-weight: 400;
    background-color: #BCB9AD;
      color: #2E2E30;
      border: 1px solid #BCB9AD;
}
